<div class="p-3">
  <div class="card">
    <div class="card-body">
      <ul class="nav nav-pills">
        <li>
<!--          <div class="border border-info bg-success  p-1 ms-1">-->
<!--            Total: {{appState.productsState.totalCount}}-->
<!--          </div>-->
          <label class="border border-info p-1 pg-info text-bg-danger m-1">Pages : {{appState.productsState.totalPages}}</label>
        </li>

        <li>

          <label class="border border-info p-1 pg-info text-bg-info m-1">Size : {{appState.productsState.totalPages}}</label>
        </li>

        <li>

          <label class="border border-info p-1 pg-info text-bg-secondary m-1">Total : {{appState.productsState.totalProducts}}</label>
        </li>

        <li>

          <label class="border border-info p-1 pg-info text-bg-dark m-1">Checked : {{totalCheckedProducts()}}</label>
        </li>


        <!--        <li>
                  <div class="border border-info bg-primary  p-1 ms-1">
                    Pages: {{appState.productsState.totalPages}}
                  </div>
                </li>
                <li>
                  <div class="border border-info bg-danger  p-1 ms-1">
                    Size: {{appState.productsState.pageSize}}
                  </div>
                </li>-->
      </ul>
    </div>
</div>

